apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name     : root-demo
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: 'in-cluster'
    namespace: demo
  source:
    repoURL: https://github.com/InfernoFeniks/argocd-demo.git
    path: demo-dev/applications
    targetRevision: HEAD
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespase=true